<template>
        <ul id="sales-leader">
            <li v-for="tab in tabs" :key="tab">
                <button :class="{active: tab == active}">{{ tab }}</button>
            </li>
        </ul>
    
</template>

<script>
export default {
    name: "Sales-leader",
    data(){
        return {
            tabs: ['Top', 'Bottom'],
            active: 'Top'
        }
    }
}
</script>

<style>
#sales-leader {
    list-style: none;
    display: flex;
    background-color: var(--secondary-bg-color);
    padding: 0px;
    height: 50px;
}
#sales-leader button {
    padding: 0px 20px;
    border: 0px;
    background: #ffffff;
    font-size: 14px;
    opacity: 0.5;
    font-weight: 600;
    height: 100%;
}
#sales-leader   button.active {
    border-bottom: 2px solid;
    border-bottom-color: var(--main-active-color);
}


</style>
