<template>
  <div id="sales-leader-tabs" role="group">
    <button
      v-for="tab in tabs"
      :key="tab"
      :class="{active: tab == active}"
      @click="clicked(tab)"
    >{{ period }}</button>
  </div>
</template>


<script>
export default {
  name: "sales-leader-tabs",
  data() {
    return {
      tabs: ["Top", "Bottom"],
      active: "Today"
    };
  },
  methods: {
    clicked(tab) {
      this.active = tab;
      this.$emit("tabChanged", tab);
    }
  }
};
</script>

<style>
#sales-leader-tabs {
  background-color: var(--secondary-bg-color);
  padding: 0px;
  height: 50px;
}
#sales-leader-tabs button {
  padding: 0px 20px;
  border: 0px;
  background: #ffffff;
  font-size: 14px;
  opacity: 0.5;
  font-weight: 600;
  height: 100%;
}
#sales-leader-tabs button.active {
  border-bottom: 2px solid;
  border-bottom-color: var(--main-active-color);
}
</style>
