<template>
  <div id="sales-leader">
    <div class="leader-card" v-for="rep in reps" :key="rep.name">
      <div class="rep-name">{{ rep.name }}</div>
      <div class="detail">
        <label>New MRR</label>
        <span class="value">{{rep.newMRR}}</span>
      </div>
      <div class="detail">
        <label>New Logos</label>
        <span class="value">{{rep.newLogos}}</span>
      </div>
      <div class="detail">
        <label>Demo Calls</label>
        <span class="value">{{rep.demoCalls}}</span>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "sales-leader",
  data() {
    return {
      reps: [
        {
          name: "John Doe",
          newMRR: 5298,
          newLogos: 102,
          demoCalls: 30
        },
        {
          name: "Jane Smith",
          newMRR: 4586,
          newLogos: 95,
          demoCalls: 23
        },
        {
          name: "Ethan Hunt",
          newMRR: 3500,
          newLogos: 82,
          demoCalls: 10
        }
      ]
    };
  }
};
</script>

<style>
.leader-card {
  font-family: "Roboto";
  font-size: 18px;
  /* background-color: #ffffff; */
  padding: 30px;
  margin-top: 40px;
  color: #ffffff;
  background-color: #2196f3;
}
.leader-card:first-child {
  background-color: #1976d2;
  margin-top: 0;
}
.leader-card:last-child {
  background-color: #64b5f6;
}
.leader-card .rep-name {
  font-weight: 600;
  width: 100%;
  font-size: 24px;
  text-align: center;
  /* height: 18px; */
}

.leader-card .value {
  font-size: 32px;
  font-weight: bold;
  text-align: end;
  color: #ffffff;
}

.leader-card .detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
</style>

