<template>
  <div id="sales-stats">
    <div class="stat-card" v-for="stat in stats" :key="stat.name">
      <img :alt="stat.name + ' stats'" :src="'/img/' + stat.icon" />
      <div class="name">
        <span>{{stat.name}}</span>
      </div>
      <div style="clear: both;"></div>
      <div class="value">{{ stat.value }}</div>
    </div>
  </div>
</template>
<script>
export default {
  name: "sales-stats",
  data() {
    return {
      icons: {},
      stats: [
        {
          name: "Calls",
          icon: "ico-calls.png",
          value: "10/15"
        },
        {
          name: "Wins",
          icon: "ico-wins.png",
          value: "1/3"
        },
        {
          name: "Incremented Revenue",
          icon: "ico-revenue.png",
          value: "80k/100k"
        }
      ]
    };
  }
};
</script>

<style>
.stat-card {
  font-family: "Roboto";
  font-size: 18px;
  background-color: #ffffff;
  padding: 30px;
  margin-top: 40px;
}
.stat-card:first-child {
  margin-top: 0;
}
.stat-card img {
  display: block;
}
.stat-card .name {
  font-weight: 600;
  width: 100%;
  /* height: 18px; */
}
/* .stat-card div.name:after {
  clear: both;
} */
.stat-card .name span {
  float: right;
}
.stat-card .value {
  font-size: 48px;
  font-weight: bold;
  text-align: end;
  color: var(--main-active-color);
}
</style>

