<template>
  <div class="tabs" role="group">
    <button
      v-for="tab in tabs"
      :key="tab"
      :class="{active: tab == active}"
      @click="clicked(tab)"
    >{{ tab }}</button>
  </div>
</template>

<script>
export default {
  name: "tabs",
  props: ["tabs", "active"],
  methods: {
    clicked(tab) {
      // this.active = tab;
      this.$emit("tab-changed", tab);
    }
  }
};
</script>

<style>
.tabs {
  background-color: var(--secondary-bg-color);
  padding: 0px;
  height: 50px;
}
.tabs button {
  padding: 0px 20px;
  border: 0px;
  background: #ffffff;
  font-size: 14px;
  opacity: 0.5;
  font-weight: 600;
  height: 100%;
}
.tabs button.active {
  border-bottom: 2px solid;
  border-bottom-color: var(--main-active-color);
}
</style>
